{% extends 'base.html.twig' %}

{% block title %}
  {{ profile.firstName }}
{% endblock %}

{% block body %}

  <div class="container mt-5 center">

    <div class="card mb-3" style="color: black;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ profile.picture }}" alt="profile picture">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ profile.firstName }}
              {{ profile.lastName }}</h5>
            <p class="card-text">
              <b>Email :</b>
              {{ profile.email }}</p>
            <p class="card-text">
              <b>Summary :</b>
              {{ profile.summary }}</p>
            <p class="card-text">
              <b>Hard skills :</b>
              {% if profile.skillsHard is null %}
                Pas de skills
              {% else %}
                {% for pr in profile.skillsHard.list %}
                  {{ pr }}
                {% endfor %}
              {% endif %}
            </p>

            <p class="card-text">
            <b>Soft skills :</b>
              {% if profile.skillsSoft is null %}
                Pas de skills
              {% else %}
                {% for pr in profile.skillsSoft.list %}
                  {{ pr }}
                {% endfor %}
              {% endif %}
            </p>

          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
